@import "../var.scss";

.button__color {
    background: $aqua !important;
    box-shadow: 5px -3px 3px rgba($light-black, 30%) !important;

    &:hover {
        background: darken($aqua, 10%) !important;
    }
}

.button_border__color {
    border: 1px solid $aqua !important;
    box-shadow: 5px -3px 3px rgba($light-black, 30%) !important;

    &:hover {
        background: darken($white-dark, 10%) !important;
    }
}

.card__title {
    font-size: 2.2rem !important;
    font-weight: 800 !important;
    text-transform: capitalize !important;
    font-style: italic !important;
    color: $aqua !important;
}

.card__text {
    font-size: 1.4rem !important;
    font-weight: 400 !important;
    font-style: italic !important;
    text-transform: capitalize !important;
    color: $aqua !important;
}